---
// HUD Navigation Component
---

<div class="hud-nav">
  <div class="hud-quadrant hud-top-left">
    <div class="logo">CYBER EYE INTELLIGENCE</div>
  </div>

  <div class="hud-quadrant hud-top-right">
    <ul class="nav-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

  <div class="hud-quadrant hud-bottom-right">
    <a href="/contact" class="hud-cta">Get Started</a>
  </div>
</div>
